<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.manager.mapper.UsersMapper" >

    <insert id="insertUser" parameterType="com.cn.manager.pojo.Users">
        insert into users(username,age) values(#{username},#{age})
    </insert>

    <select id="selectUserAll" resultType="com.cn.manager.pojo.Users">
        select * from users
    </select>
</mapper>